<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="CustommerServiceBehavior"
			name="Manager.Services.CustommerService">
				<endpoint address="CustommerService" binding="netTcpBinding" bindingConfiguration=""
				contract="Manager.ServiceContracts.ICustommerService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="CustommerService/mex" binding="mexTcpBinding" bindingConfiguration=""
				contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8510" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="CustommerServiceBehavior">
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

</configuration>